<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>اطلاعات کارمند</title>
  <link rel="stylesheet" href="/style-sheet/employee-page.css">
</head>

<body>
  <div id="modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="modalHeader"></h2>
      </div>
      <div class="modal-error-body" id="modalErroBody"></div>
      <div class="modal-body" id="modalBody"></div>
      <div class="modal-footer" id="modalFooter"></div>
    </div>
  </div>

  <div class="employee-details">
    <h2>اطلاعات کارمند</h2>
    <p>نام: <span>
        <%= employee.firstName %>
      </span></p>
    <p>نام خانوادگی: <span>
        <%= employee.lastName %>
      </span></p>
    <p>جنسیت: <span>
        <%= employee.gender %>
      </span></p>
    <p>سن: <span>
        <%= new Date().getFullYear() - new Date(employee.birthDate).getFullYear() %>
      </span></p>
    <p>شماره تلفن: <span>
        <%= employee.phoneNumber.join(", ") %></span></p>
    <p>کد ملی: <span><%= employee.nationalId %></span></p>
    <p>شهر: <span><%= employee.city %></span></p>
    <p>نام شرکت: <span><%= employee.companyName %></span></p>
    <p>نقش: <span><%= employee.role %></span></p>
    <p>تاریخ ثبت‌ نام: <span><%= new Date(employee.registrationDate).toLocaleDateString('fa-IR') %></span></p>
    <div class=" buttons">
          <a class="edit-button" onclick="renderUpdateEmployee('<%= employee._id %>')">ویرایش اطلاعات</a>
          <a class="delete-button" onclick="removeEmployee('<%= employee._id %>')">حذف اطلاعات</a>
  </div>
  </div>

  <script src="/javascripts/modal.js"></script>
  <script src="/javascripts/employee-page.js"></script>
</body>

</html>